 
 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding-bottom:18px;
  padding-top:18px;
  width: 100%;
  text-align: center;
  border-width: 0px;
  border-bottom-width: thin;
  outline: none;
  transition: 0.4s;
  position: relative;
}

.accordion:after {
    content: '+';
    position: absolute;
    left: 93%;
    font-size: 1;
}

/* Assign the after psuedoclass to any elements with .active class, which happens to be all accordion buttons after they are activated.*/
.active:after { 
    content: '-' ;
}

/* Style the accordion panel and hides it upon loading. panel.style.display = "block" overrides this and causes it to appear */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: visible;
}

.panel label {
    font-size: larger;
}

li {
    display:grid;
    grid-template-columns: 500px 200px;
    grid-template-rows:100px; ;
}

input[type=radio] {
    width: 20px;
    height:20px;
}

#addnewtask-input {
    padding: 1%;
    border-radius: 50px;
    padding-left:5px;
    width: 35%;
    
}

#modal-button {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 3rem;
    bottom: 5rem;
    border-radius: 1000px;
    
}

#list-container {
    display: flex;
    justify-content: center;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.5);
}

#modal-input {
    margin-left: 45%;
    margin-top: 15%;

}

#modal-save-button {
    width:30px;
    height:30px;
    border-radius:1000px;
    margin-left: 50px; /*create some space between the save and close button */
}

#modal-close-button {
    width:30px;
    height:30px;
    border-radius:1000px;
}

#taskModal {
    height: 30%;
}

.modal-close-save-div {
    display: flex;
    justify-content: center;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#submit-btn {
    position: fixed; /* Pins the button to the viewport */
    bottom: 0;
    left: 0;
    width: 100%; /* Spans the full width of the phone */
    padding: 20px; /* Large touch target */
    background-color: green; /* A standard "Success" green */
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    z-index: 1000; /* Ensures it sits on top of other content */
}

#submit-btn:hover {
    background-color: darkgreen;
}

#submit-btn:active{
    background-color:#094405;
}

/* Add padding to the body so the content doesn't get hidden behind the button */
body {
    padding-bottom: 80px; 
}