 
 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding-bottom:18px;
  padding-top:18px;
  width: 100%;
  text-align: center;
  border-width: 0px;
  border-bottom-width: thin;
  outline: none;
  transition: 0.4s;
  position: relative;
}

.accordion:after {
    content: '+';
    position: absolute;
    left: 93%;
    font-size: 1;
}

/* Assign the after psuedoclass to any elements with .active class, which happens to be all accordion buttons after they are activated.*/
.active::after { 
    content: '-' ;
}

/* Style the accordion panel and hides it upon loading. panel.style.display = "block" overrides this and causes it to appear */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: visible;
}


li {
    display:grid;
    grid-template-columns: 500px 180px;
    grid-template-rows:100px; ;
}


#addnewtask-input {
    padding: 1%;
    border-radius: 50px;
    padding-left:5px;
    width: 35%;
    
}

#modal-button {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 3rem;
    bottom: 2rem;
    border-radius: 1000px;
    
}

#list-container {
    display: flex;
    justify-content: center;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.5);
}

#modal-input {
    margin-left: 45%;
    margin-top: 15%;

}

#modal-save-button {
    width:30px;
    height:30px;
    border-radius:1000px;
    margin-left: 50px; /*create some space between the save and close button */
}

#modal-close-button {
    width:30px;
    height:30px;
    border-radius:1000px;
}

#taskModal {
    height: 30%;
}

.modal-close-save-div {
    display: flex;
    justify-content: center;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}