 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Style the accordion panel and hides it upon loading. panel.style.display = "block" overrides this and causes it to appear */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
} 